* {
    margin: 0;
    padding: 0;
}

.main_content {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;

    > section {
        padding: 20px;
    }
    
    .navbar {
        background: lighten(red, 40%);
        -moz-flex: 2;
        -webkit-flex: 2;
        flex: 2;

        &.order {
            -moz-order: 1;
            -webkit-order: 1;
            order: 1;
        }
    }

    .news {
        background: lighten(green, 60%);
        -moz-flex: 7;
        -webkit-flex: 7;
        flex: 7;

        &.order {
            -moz-order: 0;
            -webkit-order: 0;
            order: 0;
        }
    }

    .widgets {
        background: lighten(blue, 40%);
        -moz-flex: 1;
        -webkit-flex: 1;
        flex: 1;

        &.order {
            -moz-order: 2;
            -webkit-order: 2;
            order: 2;
        }
    }
}
