@mixin scale( $x, $y ) {
    -webkit-transform: scale($x, $y);
    -webkit-transform: scale($x, $y);
    transform: scale($x, $y);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:nth-child(1n+0) label {
    background-color: #9043CA;
}

li:nth-child(2n+0) label {
    background-color: #99C953;
}

li:nth-child(3n+0) label {
    background-color: #F56D44;
}

li:nth-child(4n+0) label {
    background-color: #35A8C0;
}

li {
    border-bottom: solid 1px #DDD;
    color: #CCC;
    cursor: pointer;
    float: left;
    list-style: none;
    overflow: hidden;
    padding: .5em 0 .5em 1em;
    position: relative;
    width: 100%;

    &:hover {
        background-color: rgba(#CCC, .1);
    }

    article {
        display: inline-block;
        margin-left: 5em;
        padding: .5em 0 0 1em;
        position: absolute;
        top: 0;
        left: 0;
    }

    h1 {
        color: #666;
        font-size: 1.5em;
        font-weight: 100;
    }

    p {
        font-size: 1em;
        font-weight: 100;
    }

    &.selected {
        background: rgba(#35A8C0, .1);
    }
}

input[type="checkbox"] + label {
    -webkit-animation: labelCheck .4s;
    animation: labelCheck .4s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    transition-duration: .4s;
    transition-property: background, transform, -webkit-transform;
    transition-timing-function: ease-in;
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background, transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in;
    width: 2em;

    .letter,
    .check
    {
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transition-duration: .3s;
        -webkit-transition-property: transform, -webkit-transform;
        -webkit-transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        transition-property: transform, -webkit-transform;
        width: 100%;
    }

    .letter {
        font-weight: 600;
        -webkit-transform: scale(1,1);
    }

    .check {
        -webkit-transform: scale(0,0);

        i {
            display: inline-block;
            padding-top: 15px;
        }
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    -webkit-animation: labelChecked .4s;
    animation: labelChecked .4s;
    background-color: #839098;

    .letter {
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
    }

    .check {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        -webkit-animation: checkmark .55s;
        animation: checkmark .55s;
    }
}


@keyframes labelChecked {
    0% {
        @include scale( 1, 1 );
    }
    50% {
        @include scale( .1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}

@-webkit-keyframes labelChecked {
    0% {
        @include scale( 1, 1 );
    }
    50% {
        @include scale( .1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}

@keyframes labelCheck {
    0% {
        @include scale( 1, 1 );
    }
    50% {
        @include scale( .1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}

@-webkit-keyframes labelCheck {
    0% {
        @include scale( 1, 1 );
    }
    50% {
        @include scale( .1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}


@keyframes checkmark {
    0% {
        @include scale( 0, 0 );
    }
    50% {
        @include scale( 0, 0 );
    }
    80% {
        @include scale( 1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}

@-webkit-keyframes checkmark {
    0% {
        @include scale( 0, 0 );
    }
    50% {
        @include scale( 0, 0 );
    }
    80% {
        @include scale( 1, 1 );
    }
    100% {
        @include scale( 1, 1 );
    }
}
